@using telerik.Infrastructure
@model telerik.Models.Person
<div class="form-horizontal">
    <div class="control-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(x => x.FirstName)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(x => x.LastName)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(x => x.Phone)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.Email, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(x => x.Email)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(x => x.BirthDate, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(x => x.BirthDate)
        </div>
    </div>
</div>
​